.page {
  opacity: 0;
  transform: translateY(8px);
  will-change: opacity, transform;
}

.enter {
  animation: slideIn 200ms ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
